body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.timer {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 50px auto;
    max-width: 300px;
    border-radius: 5px;
}

h1 {
    font-size: 24px;
}

#timer {
    font-size: 36px;
    margin: 20px 0;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
